<form>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" required />
    </div>
    <div>
        <label for="specie">Specie</label>
        <select id="specie" required>
            <option *ngFor="let specie of species" [value]="specie">{{ specie }}</option>
        </select>
    </div>
</form>





<!-- <app-app-sizer [size]="fontSizepx" (sizeChange)="fontSizepx"></app-app-sizer>
<div [style.font-size.px]="fontSizepx">Resize</div> -->



<!-- <app-app-sizer [(size)]="fontSizepx"></app-app-sizer>
<div [style.font-size.px]="fontSizepx">Resize</div> -->



<!-- Implementacja pierwszego komponentu oraz z hookami  -->
<!-- <app-hello-world></app-hello-world> -->

<!-- {{ getMin(5,3) }} -->
<!--
<app-child>
    <h3 question>Question</h3>
    <p answer>Answer</p>
</app-child> -->

<!-- <button (click)="toggleText($event)">Toggle text</button>
{{ showText }} -->

<!-- {{ 'Word' | greetingsPipe}} -->

<!-- <img [src]="itemImageUrl" /> -->

<!-- <table>
    <tr>
        <td [colSpan]="1 + 1">Three-Four</td>
    </tr>
</table> -->

<!-- <button [disabled]="isUnchanged">Disabled</button> -->
