




<!-- <form [formGroup]="validationForm">
    <input
    type="text"
    name="name"
    required
    minlength="4"
    formControlName = "name"
    />
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <div *ngIf="name?.errors?.['required']">Name is required</div>
        <div *ngIf="name?.errors?.['minlength']">Name mus be at least 4 characters long</div>

    </div>
</form> -->




<!-- <form [formGroup]="validationForm">
    <input
    type="text"
    name="name"
    required
    minlength="4"
    [(ngModel)]="nameInput"
    #name="ngModel"/>
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors?.['required']">Name is required</div>
        <div *ngIf="name.errors?.['minlength']">Name mus be at least 4 characters long</div>

    </div>
</form> -->




<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="first-name">First Name:</label>
    <input id="first-name" type="text" formControlName="firstName" />
    <label for="last-name">Last Name:</label>
    <input id="last-name" type="text" formControlName="lastName" />

    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form> -->

<!-- <label for="name"></label>
<input id="name" type="text" [formControl]="name">
<p>Value: {{ name.value }}</p>

<p>
    <button (click)="updateName()">Update Name</button>
</p> -->

<!-- <p>{{ model | json }}</p>
<div [hidden]="submited">
    <form #petForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" required [(ngModel)]="model.name" name="name" />
        </div>
        <div>
            <label for="specie">Specie</label>
            <select id="specie" required [(ngModel)]="model.specie" name="specie">
                <option *ngFor="let specie of species" [value]="specie">{{ specie }}</option>
            </select>
        </div>
        <button [disabled]="!petForm.form.valid" type="submit">Submit</button>
    </form>
</div>
<div [hidden]="!submited">
    <h2>You submited:</h2>
    <p>Name: {{ model.name }}</p>
    <p>Specie: {{ model.specie }}</p>
    <button (click)="submited = false">Edit</button>
</div> -->





<!-- <app-app-sizer [size]="fontSizepx" (sizeChange)="fontSizepx"></app-app-sizer>
<div [style.font-size.px]="fontSizepx">Resize</div> -->



<!-- <app-app-sizer [(size)]="fontSizepx"></app-app-sizer>
<div [style.font-size.px]="fontSizepx">Resize</div> -->



<!-- Implementacja pierwszego komponentu oraz z hookami  -->
<!-- <app-hello-world></app-hello-world> -->

<!-- {{ getMin(5,3) }} -->
<!--
<app-child>
    <h3 question>Question</h3>
    <p answer>Answer</p>
</app-child> -->

<!-- <button (click)="toggleText($event)">Toggle text</button>
{{ showText }} -->

<!-- {{ 'Word' | greetingsPipe}} -->

<!-- <img [src]="itemImageUrl" /> -->

<!-- <table>
    <tr>
        <td [colSpan]="1 + 1">Three-Four</td>
    </tr>
</table> -->

<!-- <button [disabled]="isUnchanged">Disabled</button> -->
